<app-header></app-header>

<div id="navbar">
   
<div id="conteudo">

    <h1>Lista de convidados</h1>

    <div class="comands">
      <button (click)="addConvidado()" class="btn btn-primary"><img src="../../../../assets/icon-presenca/plus-circle.svg" alt=""> Convidado</button>
    </div>

</div>

<table>
  <thead>
    <tr>
      <th>CONVIDADO</th>
      <th>CARGO</th>
      <th>EMPRESA</th>
      <th>E-MAIL</th>
      <th>TELEFONE</th>
      <th>EXCLUIR</th>  
    </tr>
  </thead>
  <tbody *ngFor="let convidados of listConvidados" > 

    <tr>

      <td>{{convidados.nome}}</td>
      <td>{{convidados.cargo}}</td>
      <td>{{convidados.nome_empresa}}</td>
      <td>{{convidados.email}}</td>
      <td>{{convidados.telefone}}</td>
      <td (click)="deletConvidado(convidados.id)"><a><img src="../../../../assets/Icons/icon-lixeira-white.svg"></a></td>

    </tr>  
  </tbody>    
</table>