<app-header-solicitante></app-header-solicitante>
<div class="container">
  <section id="title">
    <h2>Solicitar Espaço</h2>
    <div class="buttons">
      <button class="bot" routerLink="/visualizar">
        Ver Solicitações
      </button>
    </div>
  </section>

  <section id="body">
    <!--Início dos inputs-->
    <div class="inicio">

      <div class="inputs">
        <div class="dados">
          <label class="tittle-form">Selecione Um Espaço</label>
    
          <select [(ngModel)]="espacoSelecionado" class="input-forms">
            <option *ngFor="let espaco of espacos" name="espaco" value={{espaco.id}}> {{ espaco.nome }} </option>
          </select>
        </div>
        <div class="dados">
          <label for="" class="tittle-form">Data</label>
          <input type="text" name="data" placeholder="Data" onfocus="(this.type='date')" onblur="(this.type='text')"
          class="input-forms" [(ngModel)]="data">
        </div>
        
        <div class="hora">
          <div class="dados">
            <label for="" class="tittle-form">Hora de Início</label>
            <input formControlName="hora_inicio" type="time" placeholder="Fundação FSNT"
            class="input-formsP" />
          </div>
          <div class="dados">
            <label for="" class="tittle-form">Hora de Término</label>
            <input formControlName="hora_termino" type="time" placeholder="Fundação FSNT"
            class="input-formsP" />
          </div>
        </div>
   <div class="dados">
        
        <label for="" class="tittle-form">Descrição</label>
        <textarea type="text" name="descricao" placeholder="Descrição: Preciso de notebook e datashow. " class="input-form descric" id="description" [(ngModel)]="descricao"></textarea>
      </div>
      </div>
      
     
    </div>
    

    <div class="botao">
      <button class="bot" (click)="solicitar()">Enviar</button>

    </div>
  </section>