<app-header-solicitante></app-header-solicitante>
<div class="container">
  <section id="title">
    <h2 class="titulo">Solicitar Espaço</h2>
    <div class="buttons">
      <button class="bot" routerLink="/visualizar">
        Ver Solicitações
      </button>
    </div>
  </section>

  <section id="body">
    <!--Início dos inputs-->
    <div class="inicio">
    <form class="forms" [formGroup]="form">
      <div class="inputs">
        <div class="dados">
          <label class="tittle-form">Selecione Um Espaço</label>
    
          <select formControlName="id_espaco" class="input-forms">
            <option *ngFor="let espaco of espacos" name="espaco" value={{espaco.id}}> {{ espaco.nome }} </option>
          </select>
        </div>
        <div class="dados">
          <label for="" class="tittle-form">Data</label>
          <input name="data" placeholder="Data" type="date" class="input-forms" formControlName="data_uso">
        </div>
        
        <div class="hora">
          <div class="dados">
            <label for="" class="tittle-form">Hora de Início</label>
            <input formControlName="hora_inicio" type="time" placeholder="Fundação FSNT"
            class="input-formsP" />
          </div>
          <div class="dados">
            <label for="" class="tittle-form">Hora de Término</label>
            <input formControlName="hora_termino" type="time" placeholder="Fundação FSNT"
            class="input-formsP" />
          </div>
        </div>
   <div class="dados">
        
        <label for="" class="tittle-form">Descrição</label>
        <textarea type="text" name="descricao" placeholder="Descrição: Preciso de notebook e datashow. " class="input-formsd" id="description" formControlName="descricao"></textarea>
      </div>
      </div>
    </form>
    </div>
    

    <div class="botao">
      <button class="botao_" (click)="onSubmit()">Enviar</button>

    </div>
  </section>