.modal {
  border-radius: 24px;
  display: flex;
  position: absolute;
  width: 600px;
  background: #fff;
  flex-direction: column;
  padding: 40px;

  .componentes-modal {
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .list {
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding: 40px;
      margin: 40px 0;
      border: #00A54E solid 1px;
      border-radius: 8px;
      transition: transform 0.25s ease-in-out, border 0.35s ease-in-out;
      .informacoes {
        display: flex;
        gap: 8px;
        width: 100px;
        word-wrap: break-word; 
      }
    }
    .list:hover{
      transform: scale(1.05); 
      border: #4ddf91 solid 1px;
    }
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
.button-cancel {  
  background-color: rgb(221, 16, 16);
  transition: 0.25s;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  height: 56px;
  width: 154px;
  border: none;
}
.button-cancel:hover{
  background-color: rgb(158, 10, 10);
}
.button-register {  
  background-color: #00A54E;
  transition: 0.25s;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  height: 56px;
  width: 154px;
  border: none;
}
.button-register:hover{
  background-color: rgb(5, 122, 5);
}  
.exit:hover{
  filter: brightness(0.5); 
}