.modal-modal{
  
  display: flex;
  flex-direction: column;
  margin: 15px;
 

    h3{
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 100%;
      color: var(--gray-200);
      text-align: start;
      margin: 40px 0  ;
  
    }

    form{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 40px;

      .flex-box-form{
        display: flex;
        gap: 25px;
      }

      .buttons{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0px;
        gap: 20px;
       
      }
    }
}
.topo{
  display:flex;
  flex-direction: space-between;
  gap:400px;
  
}
.botao{
  background-color: transparent;
  padding-top: 35px;
  
  
}
button{
  border-radius: 8px;
  width: 210px;
  height: 50px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-white);

}
.button-register{
  background-color: #00A54E;
  transition: 0.25s;
}
.button-register:hover{
  background-color: rgb(5, 122, 5);
}
.button-cancel{
  background-color: rgb(221, 16, 16);
  transition: 0.25s;
}
.button-cancel:hover{
  background-color: rgb(158, 10, 10);
}
// .button-return{
//     background-color:  #00a54d42;
//     border: none;
//     border-radius:4px;
//     transition: 0.25s;
//     padding: 5px;
//     font-size: 20px;
//     color: #2f3033;
//     font-weight: 500;
// }
// .button-return:hover{
//     font-size: 24px;
//     border: none;
//     color:  rgb(221, 16, 16);
//     background-color:  rgba(221, 16, 16, 0.322);

// }
.option-tipo{
  color: var(--gray-200);
}
// .upimg::-webkit-file-upload-button {
//   visibility: hidden;
// }
// .upimg{
//   display: flex;
//   flex-direction: column;
//   border-radius: 10px;
//   width: 100%;
//   height: 100%;
//   text-align: center;
//   align-items: center;
//   background-color: transparent;
//   justify-content: center;
//   border:solid 1px #2f3033 ;
//   border-style: dashed;


// }
// .upload_img{
//   display: flex;
//   width: 448px;
//   height: 448px;
//   justify-content: center;
//   align-items: center;
//   background-color:#f1f0f5;
//   border-radius: 8px;
//   margin-left: 2%;  
  
// }
// .imagem{
//   display: flex;
//   flex-direction: column;
// }
.input-forms{
  width: 420px;
  height: 50px;
  background-color: #f1f0f5;
  border-radius: 8px;
  border:none;
  padding-left: 10px;
}
.input-formsP{
  width: 200px;
  height: 50px;
  background-color: #f1f0f5;
  border-radius: 8px;
  border:none;
  padding-left: 10px;
}
.collun2{
  text-align: left;
  align-self: left;
  
}

.input-formsd{
  width: 420px;
  height: 240px;
  background-color: #f1f0f5;
  border-radius: 8px;
  border:none;
  padding: 10px;
}
.espaço{
  display: flex;
  flex-direction: column;
  gap:15px;
  align-self: auto;
  
}

.input-forms:hover{
  border: forestgreen 2px solid;
}
.input-formsd:hover{
  border: forestgreen 2px solid;
}
.input-formsP:hover{
  border: forestgreen 2px solid;
}
.upimg:hover{
  border: forestgreen 3px dashed;
}
@media only screen and (max-width: 1100px){
  .flex-box-form{
      display: flex;
      flex-direction: column;
      width: 800px;
      padding-left: 0px !important;
      
  }
  body{
    width: 800px;
  }

  .form{
    width: 800px;
  }
  .topo{
    width: 800px;
    gap: 80px;
  }
  .input-formsd{
    width: 448px;
    height: 120px;
  }
  .buttons{
    gap:20px;
    width: 800px;
  }
  .form-right{
    align-items: left;
  }

}
@media only screen and (max-width: 650px){
  .flex-box-form{
      display: flex;
      flex-direction: column;
      width: 380px;
      padding-left: 0px !important;
      
  }
  body{
    width: 400px;
  }
  .input-forms{
    width: 360px;
  }
  .input-formsd{
    width: 360px;
    height: 120px;
  }
  .input-formsP{
    width:120px;
  }
  .form{
    width: 400px;
  }
  .topo{
    width: 120px;
    gap: 50px;
  }
  .buttons{
    gap:20px;
    width: 400px;
  }

}

