<div class="modal-modal">
  <div class="modal-top">
    <label class="modal-title">Editar evento</label>
  </div>
  <form [formGroup]="form">
      <div class="dados">

        <div class="dados">
          <label for="" class="tittle-form">Nome do Evento</label>
          <input formControlName="nome" id="input-cad-eventos" type="text"  class="input-forms" placeholder="Nome do Evento">
        </div>
        <div class="dados">
          <label for="" class="tittle-form">Endereço</label>
          <input type="text" placeholder="endereco" class="input-forms" formControlName="endereco">
        </div>
         <!-- Tipo -->
        <div class="dados">
          <label for="" class="tittle-form">Tipo de Evento</label>
          <select formControlName="tipo_evento" name="text" class="select" id="select" class="input-forms">
            <option value="Público"> Público </option>
            <option value="Privado"> Privado </option>
          </select>
        </div>
         <!-- Espaço -->
        <div class="dados">
          <label for="" class="tittle-form">Espaço</label>
          <select formControlName="id_espaco" name="text" class="select" id="select" class="input-forms "
            placeholder="Nome do Evento">
            <option *ngFor="let lugares of lugares" name="espaco" value={{lugares.id}}> {{ lugares.nome }} </option>
          </select>
        </div>
         <!-- Instituição -->
        <div class="dados">
          <label for="" class="tittle-form">Modalidade</label>
          <select formControlName="modalidade" name="text" class="select" id="select" class="input-forms ">
            <option value="Online"> Online </option>
            <option value="Presencial"> Presencial </option>
          </select>
        </div>
        <!-- descrição -->
        <div class="dados">
          <label for="" class="tittle-form">Descrição</label>
          <textarea formControlName="descricao" placeholder="Descrição" id="descricao" cols="55" rows="5"
            class="input-formsd"></textarea>
        </div>
        
      </div>

      <div class="form-right">

        <div class="collun2">
          <div class="dados">
            <label for="" class="tittle-form">Data do evento</label>
            <input formControlName="data_evento" type="date" placeholder="Fundação FSNT"
            class="input-forms" />
          </div>

        </div>
        <div class="collun2">
          <div class="espaço">
          <div class="dados">
            <label for="" class="tittle-form">Hora de Início</label>
            <input formControlName="hora_inicio" type="time" placeholder="Fundação FSNT"
            class="input-formsP" />
          </div>
          <div class="dados">
            <label for="" class="tittle-form">Hora de Término</label>
            <input formControlName="hora_termino" type="time" placeholder="Fundação FSNT"
            class="input-formsP" />
          </div> 

      <button type="submit" class="button-cancel" (click)="onDelete()">Deletar</button>
        <button type="button" class="button-register" (click)="updateEvento(id)">Editar</button>
</div>



<!-- 



<div class="container">
  <section id="body">
    <div class="topo">
      <h3>Alterar as Informações do Evento </h3>
      <div class="botao">
        <button type="button" class="button-return" (click)="onCancel()">Voltar</button>
      </div>
    </div>
    <form class="forms" [formGroup]="form">
      <div class="flex-box-form">
        <div class="form-left">
  
          <div class="dados">
            <label for="" class="tittle-form">Nome do Evento</label>
            <input formControlName="nome" id="input-cad-eventos" type="text" placeholder="Nome do Evento" class="input-forms">
          </div>
          <div class="dados">
            <label for="" class="tittle-form">Endereço</label>
            <input type="text" placeholder="Endereço" class="input-forms" formControlName="endereco">
          </div>
          <div class="dados">
            <label for="" class="tittle-form">Descrição</label>
            <textarea formControlName="descricao" placeholder="Descrição" id="descricao" cols="55" rows="5" class="input-formsd"></textarea>
          </div>
        </div>
  
        <div class="form-right">
  
          <div class="collun2">
            <div class="dados">
              <label for="" class="tittle-form">Data de Início</label>
              <input formControlName="data_inicio" type="date" placeholder="Fundação FSNT" class="input-formsP"/>
            </div>
            <div class="dados">
              <label for="" class="tittle-form">Data de Término</label>
              <input formControlName="data_termino" type="date" placeholder="Fundação FSNT" class="input-formsP"/>
            </div>

          </div>
          <div class="collun2">
            <div class="dados">
              <label for="" class="tittle-form">Hora de Início</label>
              <input formControlName="hora_inicio" type="time" placeholder="Fundação FSNT" class="input-formsP"/>
            </div>
            <div class="dados">
              <label for="" class="tittle-form">Hora de Término</label>
              <input formControlName="hora_termino" type="time" placeholder="Fundação FSNT" class="input-formsP"/>
            </div>
          </div>
  
          
          <div class="dados">
            <label for="" class="tittle-form">Tipo de Evento</label>
            <select formControlName="modalidade" name="text" class="select" id="select" class="input-forms ">
              <option value="Online"> Online </option>
              <option value="Presencial"> Presencial </option>
            </select>
          </div>
          <div class="dados">
            <label for="" class="tittle-form">Espaço</label>
            <select formControlName="id_lugar" name="text" class="select" id="select" class="input-forms" placeholder="Espaço realizado">
              <option *ngFor="let espaco of espacos" name="espaco" value={{espaco.id}}> {{ espaco.nome }} </option>
            </select>
          </div>
          <div class="dados">
            <label for="" class="tittle-form">Instituição</label>
            <select formControlName="id_instituicao" name="text" class="select" id="select" class="input-forms" placeholder="Instituição do evento">
              <option *ngFor="let instituicoes of instituicoes" name="espaco" value={{instituicoes.id}}> {{ instituicoes.nome }} </option>
            </select>
          </div>
  
        </div>
      </div>
      <div class="buttons">

        <button type="submit" class="button-cancel" (click)="onDelete()">Deletar</button>
        <button type="button" class="button-register" >Validar</button>
        

      </div>
    </form>
  </section>
</div> -->
