.container{
  width: 1250px;
  display: flex;
  justify-content: center;

  #body{
    width: 100%;

    h3{
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 100%;
      color: var(--gray-200);
      text-align: start;
      margin: 40px 0  ;
  
    }

    form{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 40px;

      .flex-box-form{
        display: flex;
        gap: 25px;
      }

      .buttons{
        display: flex;
        justify-content: space-around;
        margin-bottom: 0px;

        button{
          border-radius: 8px;
          width: 154px;
          height: 50px;
          border: none;
          font-weight: 500;
          font-size: 16px;
          color: var(--color-white);
  
        }
        .button-register{
          background-color: #00A54E;
          transition: 0.25s;
        }
        .button-register:hover{
          background-color: rgb(5, 122, 5);
        }
        .button-cancel{
          background-color: rgb(221, 16, 16);
          transition: 0.25s;
        }
        .button-cancel:hover{
          background-color: rgb(158, 10, 10);
        }
      }
    }

  }
  
}


.option-tipo{
  color: var(--gray-200);
}
.upimg::-webkit-file-upload-button {
  visibility: hidden;
}
.upimg{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  background-color: transparent;
  justify-content: center;
  border:solid 1px #2f3033 ;
  border-style: dashed;


}
.upload_img{
  display: flex;
  width: 448px;
  height: 448px;
  justify-content: center;
  align-items: center;
  background-color:#f1f0f5;
  border-radius: 8px;
  margin-left: 2%;  
  
}
.imagem{
  display: flex;
  flex-direction: column;
}
.input-forms{
  width: 448px;
  height: 50px;
  background-color: #f1f0f5;
  border-radius: 8px;
  border:none;
  padding-left: 10px;
}
.input-formsP{
  width: 200px;
  height: 50px;
  background-color: #f1f0f5;
  border-radius: 8px;
  border:none;
  padding-left: 10px;
}
.collun2{
  text-align: center;
  align-self: center;
  
}

.input-formsd{
  width: 600px;
  height: 240px;
  background-color: #f1f0f5;
  border-radius: 8px;
  border:none;
  padding: 10px;
}
.espaço{
  display: flex;
  gap:45px;
}
.input-forms:hover{
  border: forestgreen 2px solid;
}
.input-formsd:hover{
  border: forestgreen 2px solid;
}
.input-formsP:hover{
  border: forestgreen 2px solid;
}
.upimg:hover{
  border: forestgreen 3px dashed;
}