<app-header></app-header>
<div class="container">
    <div class="left">
        <a routerLink="/eventos"> <img src="../../../assets/Portal/image-eventos.svg" alt="" class="bot"></a>
        <a routerLink="/solicitacoes-confirmadas"> <img src="../../../assets/Portal/image-espacos.svg" alt=""  class="bot"></a>
        <a routerLink="/lista-eventos"> <img src="../../../assets/Portal/image-convidados.svg" alt=""  class="bot"></a>
    </div>
    <div class="img">
        <img src="../../../assets/Portal/image-home.svg" alt="foto da fundação de noite" class="imagem">
    </div>
</div>

