<app-header></app-header>
<div class="container">
  <div class="form">
    <!--Ínicio do header-->
    <section id="title">
      <h2>Lista de Agendamentos Confirmados</h2>
      <div class="buttons">
        <button class="botao" routerLink="/solicitacoes">
          Solicitações Pendentestes
        </button>
        <button class="botao" routerLink="/espacos">
          Espacos
        </button>
      </div>
    </section>

    <!--Início da tabela-->

    <section id="body">
      <table class="content-table">
        <thead>
          <tr>
            <th>DATA DA SOLICITAÇÃO</th>
            <th>DATA DE USO</th>
            <th>HORÁRIO</th>
            <th>ESPAÇO</th>
            <th>USUÁRIO</th>
            <th>DESCRIÇÃO</th>
          </tr>
        </thead>
        <tbody *ngFor="let rows of table">
          <tr *ngIf="rows.status_solicitacao === 'Aprovada'">
            <td>{{ rows.data_solicitacao | date : "dd/MM/yyyy"}}</td>
            <td>{{ rows.data_uso | date : "dd/MM/yyyy" }}</td>
            <td>{{ rows.hora_inicio | timeFormat }}</td>
            <td>{{ rows.nome_espaco }}</td>
            <td>{{ rows.nome_usuario }}</td>
            <td>{{ rows.descricao }}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
