<div class="modal-modal">
    <div class="modal-top">
        <label class="modal-title">Editar convidado </label>
        <img  (click)="bsModalRef.hide()" src="../../../../assets/icon-presenca/x.svg">
    </div>
    <form [formGroup]="form">
        <div class="dados">

            <div class="modal-label"><label>Nome</label>
            </div>
            <input formControlName="nome" class="modal-inputs" type="text" placeholder="Nome" >
        </div>

        <div class="dados">
            
            <div class="modal-label">
                <label>E-mail</label>
            </div>
            <input type="email" placeholder="example@example.com" formControlName="email" class="modal-inputs" />
        </div>

        <div class="dados">

            <div class="modal-label">
                <label>Telefone</label>
            </div>
            <input maxlength="15" [value]="form.get('telefone')!.value! | phone" type="tel" placeholder="(99) 99999-9999" formControlName="telefone" class="modal-inputs" appOnlyNumbers />
        </div>

        <div class="dados">

            <div class="modal-label">
                <label>Cargo</label>
            </div>
            <input formControlName="cargo" class="modal-inputs" type="text" placeholder="Cargo"  >
        </div>
        
        <div class="dados">
            
            <div  class="modal-label">
                <label>Empresa</label>
            </div>
            <select formControlName="id_empresa" class="modal-inputs" type="text" aria-placeholder="form.value.empresa">
                <option placeholder="Empresas" *ngFor="let empresa of listaPessoa" [value]="empresa.id">{{empresa.nome}}</option>
            </select>
        </div>
        

        <button class="button-register" (click)="updatePessoa(+this.list[0])"> Confirmar </button>
    </form>
</div>