<app-header></app-header>
<div class="container">
  <section id="title">
    <h2>Cadastrar Novo Espaços</h2>

  </section>

  <!--Início dos inputs-->
  <section id="body">
    <div class="inputes">
        <div class="campo-cadastro">
          <form class="forms" [formGroup]="form">
            <div class="dados">
              <label for="" class="tittle-forms">Nome do Espaço</label>
              <input
                placeholder="Nome"
                class="input-forms"
                formControlName="nome"
              />
            </div>
            <div class="dados">
              <label for="" class="tittle-forms">Instituição</label>
              <select formControlName="id_instituicao" name="text" class="select" id="select" class="input-forms">
                <option *ngFor="let instituicao of instituicao" name="espaco" value={{instituicao.id}}> {{ instituicao.nome }} </option>
              </select>
              
            </div>
            <div class="dados">
              <label for="" class="tittle-forms">Ponto de referência</label>
              <input
                formControlName="ponto_referencia"
                placeholder="Ponto de referência"
                class="input-forms"
                />
            </div>
            <div class="dados">
              <label for="" class="tittle-forms">Localização</label>
              <input
                formControlName="localizacao"
                placeholder="Localização"
                class="input-forms"
                />
            </div>
            <div class="campo-cadastro">
              <div class="dados">
                <label for="" class="tittle-forms">Descrição</label>
                <textarea
                  type="text"
                  formControlName="descricao"
                  placeholder="Breve descrição do ambiente"
                  class="input-formsd"
                  maxlength="600"
                ></textarea>
              </div>
          </div>
        </form>
        </div>
    
      <div class="imagem">
        <div class="dados">
          <label for="" class="tittle-form">Imagem princial</label>
        </div>
        <div class="upload_img">    <!-- (change)="processFile(imageInput)" -->
          <!-- <label class="image-upload-container btn btn-bwm">  -->
            <input
              class="upimg"
              #imageInput
              type="file"
              accept="image/*"
              
            />
          <!-- </label> -->
        </div>

        <div class="dados">
          <label for="" class="tittle-forms">Link do drive</label>
          <input
            placeholder="Link do drive"
            class="input-forms"
            />
        </div>
      </div>
    
  
  </div>

  <div class="botao">
      <button type="button" class="button-cancel" routerLink="/espacos">Cancelar</button>
      <button (click)="onSubmit()" class="button-register">Cadastrar</button>
  </div>
  
