<div class="modal-modal">
    <div class="modal-top">
        <label class="modal-title">Adicionar convidado</label>
     <a>   <img (click)="bsModalRef.hide()" src="../../../../assets/icon-presenca/x.svg"></a>
    </div>
    <form [formGroup]="form">
        <div class="dados">

            <div class="modal-label">
                <label>Nome</label>
            </div>
    
            <select formControlName="id_convidado" class="modal-input">
                <option *ngFor="let convidado of pessoa" name="nome" value={{convidado.id}}>
                    {{convidado.nome}}
                </option>
            </select>
        </div>
        
        <button class="modal-button" (click)="onSubmit()"> Adicionar </button>
    </form>
</div>