.modal-modal{
    align-items: center;
    text-align: center;
}
select{
    box-sizing: border-box;
    height: 40px;
    background: #fcfcfc;
    border: 1px solid rgba(0, 0, 0, 0.37);
    
    margin-bottom: 25px;
    margin-top: 10px;
    padding-left: 10px;
}

.opcao1{
    width: 30%;
    display: inline;
    margin: 0 10px 16px;

    select{
        margin-left: 5px;
    }
}
.dados{
    padding-bottom: 200px;
}

.empresa{
    width: 100%;
}
select option{
    border-radius: 8px;
}
p{
    color: rgb(143, 13, 13);
}