<div class="modal-modal">
    <div class="modal-top">
        <label class="modal-title">Adicionar convidado</label>
     <a>   <img (click)="cancelar()" src="../../../../assets/icon-presenca/x.svg"></a>
    </div>
    <form [formGroup]="form">
        <div class="dados">

            <div class="modal-label">
                <label>Nome</label>
            </div>
    
            <select formControlName="id_convidado" class="modal-input">
                <option *ngFor="let convidado of pessoa" name="nome" value={{convidado.id}}>
                    {{convidado.nome}}
                </option>
            </select>
        </div>
        <p>
        <small *ngIf="form.get('id_convidade')?.hasError('required')">
        Favor selecione um usuario
        </small>
        <small *ngIf="errorAlreadyInvited">Usuário ja convidado ao evento</small>
    </p>
        <button class="modal-button" [disabled]="form.invalid" (click)="onSubmit()"> Adicionar </button>
    </form>
</div>