<app-header></app-header>
<header></header>

<main>
  <div class="container">
    <div class="main-header">
      <h3>Calendário de Eventos</h3>
      <div class="botoes">
      <button class="botao" routerLink="/cad-eventos">
        Novo Evento
      </button>

      <button class="botao-lista" routerLink="/eventos-lista"> <img class="botao-lista" src="../../../../assets\Icons\listagem.png"
        alt=""> 
        
      </button>
    </div>

    </div>

    <section class="card-ng">
      <div class="card" *ngFor="let card of eventos">
        <div class="title-card">
          
          <div class="folder"> </div>
            <img (click)="updateEvento(eventos)" src="../../../../assets/Icons/icon-pencil-black.svg" class="edit">

          
        </div>
        <div class="body-card">
          <h2 class="bold">
            {{ card.nome }}
          </h2>
          <div class="data-hora">
            <div class="row1">
              <img src="../../../assets/Icons/icon-calendario-g.svg" alt="" />
              <p class="info">
                {{ card.data_evento| date : "dd/MM/yyyy" }}
              </p>
            </div>
            <div class="row1">
              <img
                src="../../../assets/Icons/icon-relogio-pulso-g.svg"
                alt=""
              />
              <p class="info">
                {{ card.hora_inicio | timeFormat }} - {{ card.hora_termino | timeFormat }}
              </p>
            </div>
          </div>
          <div class="localidade">
            <p *ngIf="card.modalidade === 'Online'; else presencial">
              {{ '---' }}
            </p>
            <ng-template #presencial>
              <p>
                {{ card.nome_espaco}}
              </p>
            </ng-template>
            </div>

            <div class="mini">
            <p *ngIf="card.modalidade == 'Online'; else presencial2">
              {{ '---' }}
          </p>
          <ng-template #presencial2>
           <p>
            {{ card.endereco }}
            </p>
         </ng-template>
        </div>
        </div>
      </div>
    </section>
  </div>
</main>
