
.container {
    #title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 32px;
      .buttons {
        display: flex;
        align-items: center;
        gap: 50px;;
      }
    }
  
    #body {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .tabela{
      width: 100%;
      border-radius: 10px;
    }
    .conteudot{
      text-align: center;
    }
  
  }
  
  td {
    text-align: left;
    max-width: 200px; 
    word-wrap: break-word; 
  }
  .botao{
    background-color: transparent;
    border-radius: 8px;
    padding: 8px;
    border: none;
    background-color:#00A54E;
    color: white;
    font-weight: 500;
    transition: 0.25s;
  }
  .botao:hover{
    background-color: #01853e;
  
  }
  .botao-c{
    background-color: transparent;
    border-radius: 8px;
    padding: 8px;
    border: none;
    background-color: transparent;
    color: white;
    font-weight: 500;
    transition: 0.25s;
  }
  .botao-card{
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
    transition: transform 0.25s ease-in-out, border 0.35s ease-in-out;
  }
  .botao-card:hover{
    transform: scale(1.2); 
    box-shadow: none;
  
  }